html,
body {
    height: 100%;
    background-color: #000;
    font-family: 'DM Mono', monospace;
    color: #FFF;
}

.logo {
    width: 50px;
    opacity: 1;
}

.twitter-link {
    /* display: none; */
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.description {
    color: #FFF;
    font-size: 16px;
    margin: 0px;
}

.link {
    text-decoration: none;
}

.jumbotron {
    padding: 10px;
}